USE [master]
GO
/****** Object:  Database [CoreDb]    Script Date: 27-01-2023 7:36:33 PM ******/
CREATE DATABASE [CoreDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CoreDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoreDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CoreDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoreDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoreDb]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27-01-2023 7:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DisplayOrder] [int] NULL,
	[CreatedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [DisplayOrder], [CreatedDateTime]) VALUES (1, N'Technology', 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [DisplayOrder], [CreatedDateTime]) VALUES (2, N'ASP.Net', 2, CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [DisplayOrder], [CreatedDateTime]) VALUES (3, N'.NET Core', 3, CAST(N'2022-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
USE [master]
GO
