@model MyApp.Models.ViewModel.ProductVM
@{
    ViewData["Title"] = "Index";
}

<h1>List of Categories</h1>

<div class="row">
    <a asp-action="CreateUpdate" asp-controller="Product">Create  Product</a>
</div>

<table id="myTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Product name
            </th>
            <th>
                Desctiption
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
</table>
@section scripts{
    <script src="~/js/product.js"></script>
}