@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>List of Categories</h1>

<div class="row">
    <a asp-action="Create" asp-controller="Category">Create Category</a>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
        <th>
            Category name
        </th>
        <th>
            Display Order
        </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>
